Repository you-apps/TranslateYou, pull requests merged in 2022-10, with the labels that each got.

#25 fr-rFR update
  app/src/main/res/values-fr-rFR/strings.xml
Labels: Translation

#27 Bug report template update
  .github/ISSUE_TEMPLATE/bug-report.yml
  fastlane/metadata/android/fr-rFR/changelogs/6.txt
Labels: Github, Fastlane

#26 add an option to change the fetch delay
  app/src/main/java/com/bnyro/translate/ui/activities/SettingsActivity.kt
  app/src/main/java/com/bnyro/translate/ui/components/prefs/SliderPreference.kt
  app/src/main/java/com/bnyro/translate/ui/models/MainModel.kt
  app/src/main/java/com/bnyro/translate/util/Preferences.kt
  app/src/main/res/values/strings.xml
  standard/fastlane/metadata/android/en-US/full_description.txt
  standard/fastlane/metadata/android/en-US/short_description.txt
Labels: Core

#31 fr-rFR update
  app/src/main/res/values-fr-rFR/strings.xml
Labels: Translation

#33 Added Hebrew translation
  app/src/main/res/values-he/strings.xml
Labels: Translation

#35 Correct gradle build error
  app/src/main/res/values-fr-rFR/strings.xml
  app/src/main/res/values-he/strings.xml
Labels: Translation

#36 add support for deepl
  app/src/main/java/com/bnyro/translate/api/deepl/DeepL.kt
  app/src/main/java/com/bnyro/translate/api/deepl/DeepLHelper.kt
  app/src/main/java/com/bnyro/translate/api/deepl/obj/DeeplLanguage.kt
  app/src/main/java/com/bnyro/translate/api/deepl/obj/DeeplTranslation.kt
  app/src/main/java/com/bnyro/translate/api/deepl/obj/DeeplTranslationResponse.kt
  app/src/main/java/com/bnyro/translate/constants/TranslationEngines.kt
  app/src/main/java/com/bnyro/translate/ui/models/MainModel.kt
Labels: Core

#41 Italian translation
  fastlane/metadata/android/it/changelogs/4.txt
  fastlane/metadata/android/it/changelogs/5.txt
  fastlane/metadata/android/it/changelogs/6.txt
  fastlane/metadata/android/it/full_description.txt
  fastlane/metadata/android/it/short_description.txt
  fastlane/metadata/android/it/title.txt
Labels: Fastlane

#44 fr-rFR Update
  app/src/main/res/values-fr-rFR/strings.xml
Labels: Translation

#47 Translations update from Hosted Weblate
  app/src/main/res/values-az/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-fi/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-tr/strings.xml
Labels: Translation

#51 [Proposal] Api request template
  .github/ISSUE_TEMPLATE/api-request.yml
Labels: Github

#53 Translations update from Hosted Weblate
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-fi/strings.xml
  app/src/main/res/values-fr-rFR/strings.xml
  app/src/main/res/values-he/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-pl/strings.xml
Labels: Translation

#54 Translations update from Hosted Weblate
  app/src/main/res/values-az/strings.xml
  app/src/main/res/values-fr-rFR/strings.xml
  app/src/main/res/values-he/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values-tr/strings.xml
Labels: Translation

#56 Update French strings file
  app/src/main/res/values-fr-rFR/strings.xml
Labels: Translation

#55 Translations update from Hosted Weblate
  app/src/main/res/values-zh-rCN/strings.xml
Labels: Translation
