Repository you-apps/TranslateYou, pull requests merged in 2023-05, with the labels that each got.

#248 Translations update from Hosted Weblate
  app/src/main/res/values-pt/strings.xml
Labels: Translation

#251 Update strings.xml
  app/src/main/res/values-pl/strings.xml
  fastlane/metadata/android/pl-PL/full_description.txt
  fastlane/metadata/android/pl-PL/short_description.txt
Labels: Translation, Fastlane

#254 Translations update from Hosted Weblate
  app/src/main/res/values-sat/strings.xml
Labels: Translation

#253 Update MMEngine.kt
  app/src/main/java/com/bnyro/translate/api/mm/MMEngine.kt
Labels: Core

#256 update polish sd
  fastlane/metadata/android/pl-PL/short_description.txt
Labels: Fastlane

#257 Translations update from Hosted Weblate
  app/src/main/res/values-hi/strings.xml
  app/src/main/res/values-sat/strings.xml
Labels: Translation

#258 Translations update from Hosted Weblate
  app/src/main/res/values-hi/strings.xml
  app/src/main/res/values-sat/strings.xml
Labels: Translation

#261 Translations update from Hosted Weblate
  app/src/main/res/values-sat/strings.xml
  app/src/main/res/values-uk/strings.xml
Labels: Translation

#263 Update GlEngine.kt
  app/src/main/java/com/bnyro/translate/api/gl/GlEngine.kt
Labels: Core
