Repository you-apps/TranslateYou, pull requests merged in 2023-07, with the labels that each got.

#279 Improve Settings UI/UX
  app/src/main/java/com/bnyro/translate/obj/ListPreferenceOption.kt
  app/src/main/java/com/bnyro/translate/ui/components/BlockRadioButton.kt
  app/src/main/java/com/bnyro/translate/ui/components/SelectableItem.kt
  app/src/main/java/com/bnyro/translate/ui/components/ThemeModeDialog.kt
  app/src/main/java/com/bnyro/translate/ui/components/prefs/AccentColorPref.kt
  app/src/main/java/com/bnyro/translate/ui/components/prefs/ListPreferenceDialog.kt
  app/src/main/java/com/bnyro/translate/ui/screens/SettingsScreen.kt
  app/src/main/res/values/strings.xml
Labels: Core

#282 Readme changes
  README.md
  fastlane/metadata/android/en-US/images/icon.png
Labels: Fastlane

#286 Translations update from Hosted Weblate
  app/src/main/res/values-ar/strings.xml
  app/src/main/res/values-cs/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-he/strings.xml
  app/src/main/res/values-in/strings.xml
  app/src/main/res/values-pt/strings.xml
  app/src/main/res/values-tr/strings.xml
  app/src/main/res/values-uk/strings.xml
Labels: Translation

#287 Translations update from Hosted Weblate
  app/src/main/res/values-pt-rBR/strings.xml
Labels: Translation

#291 Translations update from Hosted Weblate
  app/src/main/res/values-ro/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
Labels: Translation

#293 Translations update from Hosted Weblate
  app/src/main/res/values-it/strings.xml
Labels: Translation

#294 Translations update from Hosted Weblate
  app/src/main/res/values-hi/strings.xml
  app/src/main/res/values-sr/strings.xml
Labels: Translation

#295 Translations update from Hosted Weblate
  app/src/main/res/values-or/strings.xml
  app/src/main/res/values-sat/strings.xml
Labels: Translation

#296 Translations update from Hosted Weblate
  app/src/main/res/values-ru/strings.xml
Labels: Translation

#300 Translations update from Hosted Weblate
  app/src/main/res/values-ar/strings.xml
  app/src/main/res/values-cs/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-he/strings.xml
  app/src/main/res/values-in/strings.xml
  app/src/main/res/values-ro/strings.xml
  app/src/main/res/values-sat/strings.xml
  app/src/main/res/values-tr/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
Labels: Translation

#301 Translations update from Hosted Weblate
  app/src/main/res/values-zh-rCN/strings.xml
Labels: Translation

#302 Use Destination class to store navigation routes
  app/src/debug/res/values/strings.xml
  app/src/main/java/com/bnyro/translate/ui/nav/Destination.kt
  app/src/main/java/com/bnyro/translate/ui/nav/NavigationHost.kt
  app/src/main/java/com/bnyro/translate/ui/screens/TranslationPage.kt
  app/src/main/java/com/bnyro/translate/ui/views/HistoryRow.kt
Labels: Translation, Core

#303 Translations update from Hosted Weblate
  app/src/main/res/values-uk/strings.xml
Labels: Translation

#307 Translations update from Hosted Weblate
  app/src/main/res/values-be/strings.xml
  app/src/main/res/values-pt/strings.xml
  app/src/main/res/values-ru/strings.xml
Labels: Translation
